﻿
@model Metodos_Numericos.Models.BaseModel

<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>@Page.Title</title>
        @RenderSection("head", required: false)
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/Layout.css" rel="stylesheet" />
        <link href="~/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" />

    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar nav-tabs navbar-fixed-top" role="navigation">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">@ViewBag.Title</a>
                </div>

                @using ( Html.BeginForm( "Search", "Home", FormMethod.Post, new
                {
                    @class = "navbar-form navbar-right hidden-xs",
                    role = "search"
                } ) )
                {
                    // ESTO ES EL LOGO
                    <div>
                        <img src=""/>
                    </div>
                  
                }

                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav side-nav">

                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#drop1"> --˃ Lista de ecuaciones 2 <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="drop1" class="collapse">
                                <li>
                                    <a href="@Url.Action("MetodoBiseccion","Capitulo2")">1 Método Bisección</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("MetodoPuntoFijo", "Capitulo2")">2 Método de Punto Fijo</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("MetodoNewton", "Capitulo2")">3 Método de Newton</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("metodoSecante","Capitulo2")">4 Método de La Secante</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("metodoFalsaPosicion","Capitulo2")">5 Método de Falsa Posición</a>
                                </li>
                                <!--<li>
                                    <a href="@Url.Action("Muller","Capitulo2")">2.6 Método de Müller</a>
                                </li>-->
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#drop2"> --˃ Lista de ecuaciones 3 <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="drop2" class="collapse">
                                <li>
                                    <a href="@Url.Action("Lagrange", "Capitulo3")">1 Interpolación de Lagrange</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("InterNewton", "Capitulo3")">2 Interpolación Polinomimal de Newton</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("TrazadorSujeto", "Capitulo3")">3 Interpolación Mediante Trazadores Cúbicos Sujetos</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("TrazadorNatural", "Capitulo3")">4 Interpolación Mediante Trazadores Cúbicos Naturales</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#drop3"> --˃ Lista de ecuaciones 4 <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="drop3" class="collapse">
                                <li>
                                    <a href="@Url.Action( "DiferenciacionNumerica", "Capitulo4" )"> 1 Diferenciación Númerica. </a>
                                </li>
                                <li>
                                    <a href="@Url.Action( "ReglaTrapecio", "Capitulo4" )"> 2 Integración Númerica: Regla de Trapecio. </a>
                                </li>
                                <li>
                                    <a href="@Url.Action( "Simpson", "Capitulo4" )"> 3 Integración Númerica: Simpson. </a>
                                </li>

                                <li>
                                    <a href="@Url.Action( "CuadraturaGauss", "Capitulo4" )"> 4 Integracion Numerica: Cuadraturas de Gauss. </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#drop4"> --˃ Lista de ecuaciones 5 <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="drop4" class="collapse">
                                <li>
                                    <a href="@Url.Action( "MetodoDeEuler", "Capitulo5" )"> 1 Solucion de Edo: Metodo de Euler. </a>
                                </li>
                                <li>
                                    <a href="@Url.Action( "SolucionEdoRK", "Capitulo5" )"> 2 Solución de Edo: Runge-Kutta </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SistemaEdoRK", "Capitulo5")"> 3 Sistema de Edo: Runge-Kutta </a>
                                </li>
                            </ul>
                        </li>

                      <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#drop5"> --˃ Lista de ecuaciones 6 <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="drop5" class="collapse">
                                <li>
                                    <a href="@Url.Action("EliminacionDeGauss", "Capitulo6")">1 Sistema de ecuaciones por eliminación de Gauss</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("EliminacionDeGaussJordan", "Capitulo6")">2 Sistema de ecuaciones por eliminación de Gauss Jordan</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SistemaEcuacionesInversa", "Capitulo6")">3 Sistema de ecuaciones mediante la inversa</a>
                                </li>
                            </ul>
                        </li>

                       <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#drop6"> --> Lista de ecuaciones 7 <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="drop6" class="collapse">
                                <li>
                                    <a href="@Url.Action( "RegresionLineal", "Capitulo8" )"> 1 Regresion lineal. </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#drop7"> --> Continuacion Metodos lineal de diferencias finitas <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="drop7" class="collapse">
                                <li>
                                    <a href="@Url.Action( "DiferenciasFinitas", "Capitulo11" )"> 2 Método Lineal de diferencias finitas. </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>

            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        @RenderBody()
                    </div>
                </div>
            </div>

        </div>
        <script src="~/Scripts/jquery-2.1.4.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
    </body>
</html>
